.mostrandoProfesorDisponible {
    background-color: rgba(120, 185, 243, 0.3) !important;
}
.slot:hover {
    cursor: pointer;
    background-color:rgba(0,0,0,.1);
}
.slot_checked {
    background-color:rgba(0,100,0,.5) !important;
}

.slot_header_row th {
    text-align: center;
}

.slot_table tbody tr td {
    text-align: center;
    width: 12.5%;
    border: 1px solid gray !important;
}


.nombreProfesor:hover {
    cursor: pointer;
     background-color:rgba(0,0,0,.1);
}