<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">

    <style>
        html {
            height: 100%;
        }
        body {

            height: 100%;
        }

        .cont {
              justify-content: center; /* center horizontally */
              align-items: center; /* center vertically */
              display: flex;
              height: 100%;
              background:#f1f7fc;
        }
    </style>

</head>

<body>
    <div class="cont">
        <form id="changePasswordForm" th:method="post" th:action="@{/changePassword}" style="max-width: 400px;">

            <h2 th:text="${razonSocial}" style="margin-bottom: 20px;"> </h2>

            <div class="form-group">
                <input id="password" required name="password" type="password" placeholder="Nueva contraseña" class="form-control" />
            </div>
            <div class="form-group">
                <input required class="form-control" type="password" name="password_confirm" placeholder="Confirmar contraseña">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Cambiar contraseña</button>
            </div>

        </form>

    </div>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>


    <script src="/assets/js/jquery.validate.js"></script>
    <script type="text/javascript">
        $('#changePasswordForm').validate({
            rules: {
                password_confirm: {
                    equalTo: "#password"
                }
            }
        })
    </script>
</body>

</html>