<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">

</head>

<body>
    <div class="login-dark">
        <form th:method="post" th:action="@{/login}" >
            <div class="alert alert-success fade in" th:if="${#httpServletRequest.getParameter('logout')} != null">
                Se ha cerrado su sesión
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>

            <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${#httpServletRequest.getParameter('error')} != null">
                Credenciales inválidas
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>

            <div class="alert alert-success fade in" th:if="${message}">
                <span th:text="${message}">message</span>
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>

            <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
                <span th:text="${error}">error</span>
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>


            <h2 class="sr-only">Login </h2>
            <div class="illustration"><i class="icon ion-ios-people"></i></div>


            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Usuario">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </div>

            <a href="/resetPassword" class="forgot">Olvidaste tu contraseña?</a>
            <a href="/register" class="forgot">No tienes una cuenta? Regístrate</a>

        </form>

    </div>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>