<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="{viewport" content="width=device-width, initial-scale=1.0">
    <title>Regístrate</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
    <link rel="stylesheet" href="/assets/css/Register-Form-Dark.css">
</head>

<body>
    <div class="login-dark">
        <form id="registrationForm" th:action="@{/register}" th:method="post" th:object="${newUser}" >

            <h2 class="sr-only">Regístrate</h2>
            <div class="illustration"><i class="icon ion-ios-people"></i></div>

            <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
                <span th:text="${error}">error</span>
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>

            <!-- Form fields -->
            <input class="form-control" type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <input autofocus required type="text" th:field="*{razonSocial}" placeholder="Razon social" class="form-control" />
            </div>
            <div class="form-group">
                <input required type="number" th:field="*{ruc}" placeholder="RUC" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" th:field="*{rubro}" placeholder="Rubro" class="form-control" />
            </div>
            <div class="form-group">
                <input type="number" th:field="*{telefono}" placeholder="Telefono" class="form-control" />
            </div>
            <div class="form-group">
                <input required type="email" th:field="*{email}" placeholder="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input required type="text" th:field="*{usuario}" placeholder="Usuario" class="form-control" />
            </div>
            <div class="form-group">
                <input id="password" required type="password" th:field="*{password}" placeholder="Contraseña" class="form-control" />
            </div>
            <div class="form-group">
                <input required class="form-control" type="password" name="password_confirm" placeholder="Confirmar contraseña">
            </div>
            <div class="form-group">
                <textarea rows="3" th:field="*{descripcion}" placeholder="Descripcion" class="form-control" ></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Registrar </button>
            </div>

            <a href="/login" class="forgot">Ya tienes una cuenta? Log in</a>

        </form>

    </div>


    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.validate.js"></script>
    <script type="text/javascript">
        $('#registrationForm').validate({
            rules: {
                password_confirm: {
                    equalTo: "#password"
                },
                razonSocial: {
                    maxlength: 100
                },
                ruc: {
                    exactlength: 11,
                    min: 0
                },
                rubro: {
                    maxlength: 100
                },
                telefono: {
                    maxlength: 18,
                    min: 0
                },
                email: {
                    maxlength: 100
                },
                usuario: {
                    maxlength: 100
                },
                contrasena: {
                    maxlength: 100
                },
                descripcion: {
                    maxlength: 500
                }
            }
        })
    </script>
</body>

</html>