<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">

</head>

<body>
    <div class="login-dark">
        <form th:method="post" th:action="@{/resetPassword}" >

            <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
                <span th:text="${error}">error</span>
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>

            <h2 class="sr-only">Login </h2>
            <div class="illustration"><i class="icon ion-ios-people"></i></div>


            <div class="form-group">
                <input autofocus class="form-control" type="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Enviar</button>
            </div>

            <a href="/login" class="forgot">Ya tienes una cuenta? Log in</a>

        </form>
    </div>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>