<!DOCTYPE html>
<html xmlns:th="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${empresa}" th:text="${empresa.razonSocial}"></title>
    <title th:if="!${empresa}">Empresa no encontrada</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
<nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>

<div class="container">



    <span th:if="${empresa}">
        <h2 th:text="${empresa.razonSocial}">Nombre de empresa </h2>
        <br/>


            <form id="registrationForm" th:action="@{/perfil/editar}" th:method="post" th:object="${empresa}" >

                    <!-- Form fields -->
                <input class="form-control" type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <input autofocus required type="text" th:field="*{razonSocial}" placeholder="Razon social" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="text" th:field="*{rubro}" placeholder="Rubro" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="number" th:field="*{telefono}" placeholder="Telefono" class="form-control" />
                </div>
                <div class="form-group">
                    <input required type="email" th:field="*{email}" placeholder="Email" class="form-control" />
                </div>



                <div class="form-group">
                    <textarea rows="3" th:field="*{descripcion}" placeholder="Descripcion" class="form-control" ></textarea>
                </div>

                <div class="form-group">
                    <input id="password" type="password" th:field="*{password}" placeholder="Cambiar contraseña" class="form-control" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password_confirm" placeholder="Confirmar contraseña">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar </button>
                    <a class="btn btn-default" href="/perfil" >Cancelar</a>
                </div>



            </form>



    </span>

    <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
        <span th:text="${error}">error</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>

    <div class="alert alert-success fade in" th:if="${message}">
        <span th:text="${message}">message</span>
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>





</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<script src="/assets/js/jquery.validate.js"></script>
<script type="text/javascript">
    $('#registrationForm').validate({
        rules: {
            password_confirm: {
                equalTo: "#password"
            },
            razonSocial: {
                maxlength: 100
            },
            ruc: {
                exactlength: 11,
                min: 0
            },
            rubro: {
                maxlength: 100
            },
            telefono: {
                maxlength: 18,
                min: 0
            },
            email: {
                maxlength: 100
            },
            contrasena: {
                maxlength: 100
            },
            descripcion: {
                maxlength: 500
            },
        }
    })
</script>

</body>

</html>
