<!DOCTYPE html>
<html xmlns:th="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${empresa}" th:text="${empresa.razonSocial}"></title>
    <title th:if="!${empresa}">Empresa no encontrada</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
<nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>

<div class="container">



    <span th:if="${empresa}">
        <h2 th:text="${empresa.razonSocial}">Nombre de empresa </h2>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Informacion de la empresa
                    <a class="pull-right" th:href="'/perfil/editar'">
                        <i class="glyphicon glyphicon-pencil" style="font-size:13px;"></i>
                    </a>
                </h3>
            </div>

            <div class="table-responsive">
                <table class="table" style="text-indent: 8px;">
                    <tbody>
                    <tr>
                        <td>Razón social </td>
                        <td th:text="${empresa.razonSocial}">Cell 2</td>
                    </tr>
                    <tr>
                        <td>RUC</td>
                        <td th:text="${empresa.ruc}">Cell 4</td>
                    </tr>
                    <tr>
                        <td>Rubro</td>
                        <td th:text="${empresa.rubro}">Cell 4</td>
                    </tr>
                    <tr>
                        <td>Telefono</td>
                        <td th:text="${empresa.telefono}">Cell 4</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td th:text="${empresa.email}">Cell 4</td>
                    </tr>
                    <tr>
                        <td>Descripción </td>
                        <td th:text="${empresa.descripcion}">Cell 4</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>



    </span>

    <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
        <span th:text="${error}">error</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>

    <div class="alert alert-success fade in" th:if="${message}">
        <span th:text="${message}">message</span>
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>

</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
