﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemas2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{
        ViewBag.Title = "Registrar Empresa Page";
    }
    <div class="container">
        <h1>Registra tu empresa</h1>

        <form method="post" action="/Empresa/Index">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="nombre de compañía">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="teléfono">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="e-mail">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="usuario">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="contraseña">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="verificar contraseña">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="descripción"></textarea>
            </div>
            <button class="btn btn-default" type="submit">Registrarse </button>
            <a href="/Home/Index" class="btn btn-default" style="margin-left:5px;">Cancelar </a>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>


</html>