﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemas2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{
    ViewBag.Title = "Profesor Page";
    }
    <div class="container">
        <h1><img style="margin-right:31px;">Nombre de Profesor</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Descripción </h3></div>
            <div class="panel-body"><span>Grado Academico/ Certificados /Años de Docencia</span></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cursos </h3></div>
            <div class="panel-body"><span>Panel Body</span></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contacto </h3></div>
            <div class="panel-body"><span>e-mail </span></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>