<!DOCTYPE html>
<html xmlns:th="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${curso}" th:text="${curso.nombre}"></title>
    <title th:if="!${curso}" >Curso no encontrado</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

    <style>
        .cursoImage {
            max-width: 200px;
            max-height: 200px;
            /*border: 1px solid black !important;*/
        }
    </style>
</head>

<body>
<nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>

<div class="container">
    <br />
    <div class="media">
        <div class="media-left">
            <img class="media-object thumbnail cursoImage" alt="imagen del curso" th:src="'/curso/' + ${curso.id} + '/imagen'">
        </div>
        <div class="media-body">
            <h2 class="media-heading" th:text="${curso.nombre}">Nombre del curso </h2>
        </div>
    </div>



    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Informacion del curso
                <a class="pull-right" th:href="'/curso/' + ${curso.id} + '/editar'">
                    <i class="glyphicon glyphicon-pencil" style="font-size:13px;"></i>
                </a>
            </h3>
        </div>
        <div class="table-responsive">
            <table class="table" style="text-indent: 8px;">
                <tbody>
                <tr>
                    <td>Sumilla </td>
                    <td th:text="${curso.sumilla}">Cell 2</td>
                </tr>
                <tr>
                    <td>Horas duracion</td>
                    <td th:text="${curso.horasDuracion}">Cell 4</td>
                </tr>
                <tr>
                    <td>Fecha Inicio</td>
                    <td th:text="${curso.fechaInicio}">Cell 4</td>
                </tr>
                <tr>
                    <td>Fecha Fin</td>
                    <td th:text="${curso.fechaFin}">Cell 4</td>
                </tr>
                <tr>
                    <td>Horas duracion</td>
                    <td th:text="${curso.horasDuracion}">Cell 4</td>
                </tr>
                <tr>
                    <td>Vacantes </td>
                    <td th:text="${curso.vacantes}">Cell 4</td>
                </tr>
                <tr>
                    <td>Costo ($) </td>
                    <td th:text="${curso.costo}">Cell 4</td>
                </tr>
                <tr>
                    <td>Activo </td>
                    <td><i class="glyphicon glyphicon-check" th:if="${curso.activo}"></i><i class="glyphicon glyphicon-unchecked" th:if="${!curso.activo}"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Profesores
                <a class="pull-right" th:href="'/curso/' + ${curso.id} + '/profesores'">
                    <i class="glyphicon glyphicon-pencil" style="font-size:13px;"></i>
                </a>
            </h3>
        </div>
        <div class="table-responsive" style="min-height: 20px;">
            <table class="table">
                <thead>
                <tr></tr>
                </thead>
                <tbody>
                <tr th:each="profesor: ${curso.profesores(5)}">
                    <td >
                        <a th:href="'/profesor/' + ${profesor.id}" th:text="${profesor.nombre} + ' ' + ${profesor.apellido}">Nombre profesor</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Preguntas
                <a class="pull-right" th:href="'/curso/' + ${curso.id} + '/preguntas/'">
                    <i class="glyphicon glyphicon-th-list" style="font-size:13px;"></i>
                </a>
            </h3>

        </div>
        <div class="table-responsive" style="min-height: 20px;">
            <table class="table">
                <thead>
                <tr></tr>
                </thead>
                <tbody>
                <tr th:each="pregunta: ${curso.preguntas}" >
                    <td >
                        <a th:text="${pregunta.titulo}"
                           th:href="'/curso/' + ${curso.id} + '/pregunta/' + ${pregunta.id}" ></a>
                    </td>
                    <td>
                        <span th:if="${pregunta.cantidadMensajesNoLeidos} > 0" class="badge"
                              style="background-color:rgb(55,61,200);"
                              th:text="${pregunta.cantidadMensajesNoLeidos}">_ </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Alumnos
            </h3>

        </div>
        <div class="table-responsive" style="min-height: 20px;">
            <table class="table">
                <tbody>
                <tr th:each="alumno: ${curso.alumnos}" >
                    <td th:text="${alumno.nombre} + ' ' + ${alumno.apellido}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
            <span th:text="${error}">error</span>
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>

        <div class="alert alert-success fade in" th:if="${message}">
            <span th:text="${message}">message</span>
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
