<!DOCTYPE html>
<html xmlns:th="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios de asesoría</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/curso/admin/profesores/editarProfesoresCurso.css">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body>
<nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>


<div class="container">
    <span th:if="${curso}">
    <h1>Horarios de asesoría:
        <a th:text="${curso.nombre}" th:href="'/curso/' + ${curso.id}"></a>
    </h1>
        <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profesores </h3></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody id="profesoresElegidosTableBody">
                        <tr th:each="profesor: ${curso.profesores}" th:id="'profesorRow_' + ${profesor.id}">
                            <td th:id="'nombreProfesor_' + ${profesor.id}"
                                th:data-id-profesor="${profesor.id}"
                                class="nombreProfesor"
                                th:text="${profesor.nombre} + ' ' + ${profesor.apellido}">
                                Nombre profesor
                            </td>
                            <td>
                                <button
                                        class="close deleteProfesorButton"
                                        th:data-id-curso="${curso.id}"
                                        th:data-id-profesor="${profesor.id}">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form id="addProfesorForm" th:method="post" th:action="'/curso/' + ${curso.id} + '/profesores/agregar'">
                <div class="form-group">
                    <input type="hidden" name="idCurso" th:value="${curso.id}" />
                    <select required name="idProfesor" class="form-control">
                        <option disabled selected value>Elige un profesor</option>
                        <option th:each="profesor: ${profesoresEmpresa}" th:value="${profesor.id}" th:text="${profesor.nombre} + ' ' + ${profesor.apellido}">Profesor</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Agregar profesor</button>
                </div>
            </form>
        </div>
    </div>

        <div id="errorAlertContainer"></div>

    <div class="table-responsive">
        <table class="table slot_table">
            <thead>
                <tr class="slot_header_row">
                    <th> </th>
                    <th th:each="dia: ${dias}" th:text="${dia.nombre}"></th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="hora: ${horas}">
                    <td th:text="${hora.inicio} + ' - ' + ${hora.fin}"></td>
                    <td class="slot" th:each="dia: ${dias}"
                        th:id="'slot_' + ${dia.num} + '_' + ${hora.inicio}" >
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    </span>

    <div>
        <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
            <span th:text="${error}">error</span>
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>

        <div class="alert alert-success fade in" th:if="${message}">
            <span th:text="${message}">message</span>
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/profesor/admin/editarProfesoresCurso.js"></script>
</body>

</html>