<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar profesor</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">

</head>

<body>
    <nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>

    <div class="container">
        <span th:if="${profesor}">
            <h1 th:text="${profesor.nombre} + ' ' + ${profesor.apellido}">Nombre profesor</h1>
            <br>

            <form class="form" th:method="post" th:action="'/profesor/' + ${profesor.id} + '/editar'" th:object="${profesor}">
                <input class="form-control" type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <input autofocus required type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <input required type="text" th:field="*{apellido}" placeholder="Apellido" class="form-control" />
                </div>
                <div class="form-group">
                    <input required type="number" th:field="*{dni}" placeholder="DNI" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="number" th:field="*{telefono}" placeholder="Telefono" class="form-control" />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar </button>

                    <a th:href="'/profesor/' + ${profesor.id}" class="btn btn-default" >Cancelar</a>
                </div>

            </form>
        </span>

        <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
            [[${error}]]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>

        <div class="alert alert-success fade in" th:if="${message}">
            <span th:text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        </div>

    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.validate.js"></script>
    <script type="text/javascript">
        $('.form').validate({
            rules: {
                nombre: {
                    maxlength: 100,
                    lettersonly: true
                },
                apellido: {
                    maxlength: 100,
                    lettersonly: true
                },
                email: {
                    maxlength: 100
                },
                telefono: {
                    maxlength: 18,
                    min: 0
                },
                dni: {
                    exactlength: 8,
                    min: 0
                }
            }
        })
    </script>

</body>

</html>