<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
</head>

<body>
    <nav th:replace="fragments/adminNavbar :: adminNavbar('profesores')"></nav>

    <div class="container">
        <h2>Profesores</h2>
        <br/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre </th>
                    <th>DNI </th>
                    <th>Email </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="profesor: ${profesores}">
                    <td ><a th:text="${profesor.nombre} + ' ' + ${profesor.apellido}" th:href="'/profesor/' + ${profesor.id}">Nombre </a></td>
                    <td th:text="${profesor.dni}">DNI </td>
                    <td th:text="${profesor.email}"></td>
                    <td ><a th:href="'/profesor/' + ${profesor.id} + '/editar'" > <span class="glyphicon glyphicon-pencil"></span> </a></td>
                </tr>
                </tbody>
            </table>

            <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
                [[${error}]]
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>

            <div class="alert alert-success fade in" th:if="${message}">
                <span th:text="${message}"></span>
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
        </div>

        <a href="/profesor/create" class="btn btn-primary">Nuevo profesor </a>
    </div>


    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>


</body>

</html>