<!DOCTYPE html>
<html xmlns:th="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${profesor}" th:text="${profesor.nombre} + ' ' + ${profesor.apellido}"></title>
    <title th:if="!${profesor}">Profesor no encontrado</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

    <style>
        .slot_header_row th {
            text-align: center;
        }

        .slot_table {
            width:500px;
            border-spacing:0;
            text-align:center;

        }

        .slot_table td {
            border:1px solid #ddd;
         }

         .slot_table tbody tr td {
            text-align: center;
            width: 12.5%;
            border: 1px solid gray !important;
         }

        .slot {
            position:relative;
            height:30px;
        }

        .slot_table input[type="checkbox"] {
            display:none;
        }

        .slot_table input[type="checkbox"] + label {
            display:block;
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-color:rgba(0,0,0,0);
            cursor:pointer;
        }

        .slot_table input[type="checkbox"] + label:hover ,
        .slot_table input[type="checkbox"]:checked + label {
            background-color:rgba(0,0,0,.1);
        }

        .slot_table input[type="checkbox"] + label::after {
          /content: '';
          position: relative;
          display: none;
          width: 9px;
          height: 15px;
          border: 3px solid #fff;
          border-top: none;
          border-left: none;

          /-moz-transform: rotate(45deg);
          /-ms-transform: rotate(45deg);
          /-o-transform: rotate(45deg);
          /-webkit-transform: rotate(45deg);
          /transform: rotate(45deg);
        }

        .slot_table input[type="checkbox"]:checked + label {
           display: inline-block;
           vertical-align:middle;

           background-color:rgba(0,100,0,.5);
        }

        .ocupado input[type="checkbox"]:checked + label {
            background-color: rgba(202, 44, 33, 0.70);
        }

    </style>
</head>

<body>
<nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>

<div class="container">

    <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
        <span th:text="${error}">error</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>

    <div class="alert alert-success fade in" th:if="${message}">
        <span th:text="${message}">message</span>
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>

    <span th:if="${profesor}">
        <h2 th:text="${profesor.nombre} + ' ' + ${profesor.apellido}">Nombre de profesor </h2>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Informacion del profesor
                    <a class="pull-right" th:href="'/profesor/' + ${profesor.id} + '/editar'">
                        <i class="glyphicon glyphicon-pencil" style="font-size:13px;"></i>
                    </a>
                </h3>
            </div>

            <div class="table-responsive">
                <table class="table" style="text-indent: 8px;">
                    <tbody>
                    <tr>
                        <td>Nombre </td>
                        <td th:text="${profesor.nombre}">Cell 2</td>
                    </tr>
                    <tr>
                        <td>Apellido</td>
                        <td th:text="${profesor.apellido}">Cell 4</td>
                    </tr>
                    <tr>
                        <td>DNI</td>
                        <td th:text="${profesor.dni}">Cell 4</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td th:text="${profesor.email}">Cell 4</td>
                    </tr>
                    <tr>
                        <td>Telefono</td>
                        <td th:text="${profesor.telefono}">Cell 4</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <br/>
        <h3>Horario </h3>

        <div class="table-responsive">
            <table class="table slot_table">
                <thead>
                    <tr class="slot_header_row">
                        <th> </th>
                        <th th:each="dia: ${dias}" th:text="${dia.nombre}"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="hora: ${horas}">
                        <td th:text="${hora.inicio} + ' - ' + ${hora.fin}"></td>
                        <td class="slot" th:each="dia: ${dias}"
                            th:classappend="${profesor.ocupado(dia.num, hora.inicio)} ? ocupado : ''">
                            <input form="horariosForm" type="checkbox"
                                   th:checked="${profesor.tieneHorario(dia.num, hora.inicio)}"
                                   th:disabled="${profesor.ocupado(dia.num, hora.inicio)}"

                                   th:name="'slot_' + ${dia.num} + '_' + ${hora.inicio}"
                                   th:id="'slot_' + ${dia.num} + '_' + ${hora.inicio}" >
                            <label th:for="'slot_' + ${dia.num} + '_' + ${hora.inicio}"></label>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <form class="pull-right" id="horariosForm" th:method="post" th:action="'/profesor/' + ${profesor.id} + '/guardarHorario'">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar </button>

                    <a th:href="'/profesor/' + ${profesor.id}" class="btn btn-default" >Cancelar</a>
                </div>
            </form>

    </span>





</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
