﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemas2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{
        ViewBag.Title = "Registrar Curso Page";
    }
    <div class="container">
        <h1>Agregar curso</h1>
        <form>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="nombre">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="descripción"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="fecha de inicio">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="fecha fin">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="horas de dictado">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="vacantes">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="costo">
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profesores </h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Maria </td>
                                    <td>
                                        <button class="close"><span aria-hidden="true">×</span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Patty </td>
                                    <td>
                                        <button class="close"><span aria-hidden="true">×</span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form>
                        <div class="form-group">
                            <select class="form-control">
                                <optgroup label="This is a group">
                                    <option value="12" selected="">Profesor</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="button">Agregar profesor</button>
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn btn-default" type="submit">Agregar </button>
            <button class="btn btn-default" type="submit" style="margin-left:5px;">Cancelar </button>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>

</html>