<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemas2</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
</head>

<body>
    <nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>

    <div class="container" >
        <span th:if="${curso}">
        <h2 th:text="${curso.nombre}"></h2>
        <br>
        <form class="form" th:action="'/curso/' + ${curso.id} + '/editar'" th:method="post" th:object="${curso}">
            <input class="form-control" type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <input required autofocus type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control" />
            </div>
            <div class="form-group">
                <textarea th:field="*{sumilla}" placeholder="Sumilla" class="form-control" > </textarea>
            </div>
            <div class="form-group">
                <input type="date" th:field="*{fechaInicio}" th:value="*{fechaInicio}" class="form-control" placeholder="Fecha inicio" />
            </div>
            <div class="form-group">
                <input type="date" th:field="*{fechaFin}" th:value="*{fechaFin}" class="form-control" placeholder="Fecha fin" />
            </div>
            <div class="form-group">
                <input type="number" th:field="*{horasDuracion}" placeholder="Horas duracion" class="form-control" />
            </div>
            <div class="form-group">
                <input type="number" th:field="*{vacantes}" placeholder="Vacantes" class="form-control" />
            </div>
            <div class="form-group">
                <input type="number" th:field="*{costo}" placeholder="Costo" class="form-control" />
            </div>

            <div class="form-group">
                <div class="checkbox">
                     <label class="control-label">
                        <input type="checkbox" th:field="*{activo}" />
                         Activo
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Guardar </button>

                <a th:href="'/curso/' + ${curso.id}" class="btn btn-default" >Cancelar</a>
            </div>



        </form>
        </span>

        <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
            <span th:text="${error}">error</span>
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>

        <div class="alert alert-success fade in" th:if="${message}">
            <span th:text="${message}">message</span>
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.validate.js"></script>
    <script type="text/javascript">
        $(".form").validate({
            rules: {
                nombre: {
                    maxlength: 100
                },
                sumilla: {
                    maxlength: 500
                },
                horasDuracion: {
                    maxlength: 9,
                    min: 0
                },
                vacantes: {
                    maxlength: 9,
                    min: 0
                },
                costo: {
                    maxlength: 9,
                    min: 0
                }
            }
        });
    </script>
</body>

</html>