<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">

</head>

<body>
    <nav th:replace="fragments/adminNavbar :: adminNavbar('cursos')"></nav>

    <div class="container" >
        <h2>Cursos</h2>
        <br/>
        <div class="table-responsive" >
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre </th>
                    <th>Fecha inicio </th>
                    <th>Fecha fin </th>
                    <th>Activo </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="curso: ${cursos}">
                    <td ><a th:text="${curso.nombre}" th:href="'/curso/' + ${curso.id}">Nombre curso</a></td>
                    <td th:text="${curso.fechaInicio}">Fecha inicio</td>
                    <td th:text="${curso.fechaFin}">Fecha fin</td>
                    <td> <i th:if="${curso.activo}" class="glyphicon glyphicon-check"></i>
                        <i th:if="${!curso.activo}" class="glyphicon glyphicon-unchecked"></i>
                    </td>
                    <td ><a th:href="'/curso/' + ${curso.id} + '/editar'" > <span class="glyphicon glyphicon-pencil"></span> </a></td>
                </tr>
                </tbody>
            </table>

            <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
                <span th:text="${error}">error</span>
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>

            <div class="alert alert-success fade in" th:if="${message}">
                <span th:text="${message}">message</span>
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
        </div>

        <a href="/reporte.pdf" target="_blank" id="render" type="button" class="pull-right btn btn-default">Reporte de horarios </a>

        <a href="/curso/create" class="btn btn-primary">Nuevo curso</a>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>