<!DOCTYPE html>
<html xmlns:th="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${pregunta}" th:text="${pregunta.titulo}">Título Pregunta</title>
    <title th:if="!${pregunta}">No existe la pregunta</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <style>
        .mensajeEmpresa {
            text-align: right;
        }

        .mensajeAlumno {
            background-color: rgba(0, 0, 0, 0) !important;
        }
    </style>
</head>

<body>

<nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>

<div class="container">
    <span th:if="${pregunta}">

        <h4 >
            <a th:text="${pregunta.cursoCore.nombre}" th:href="'/curso/' + ${pregunta.cursoCore.id} + '/preguntas'" ></a>
        </h4>

        <h1 th:text="${pregunta.titulo}">Título de pregunta</h1>
        <h4 class="" th:text="${pregunta.alumno.nombre} + ' ' + ${pregunta.alumno.apellido}" ></h4>
        <br />
        <form th:method="post" th:action="'/curso/' + ${pregunta.cursoCore.id} + '/pregunta/' + ${pregunta.id} + '/agregarMensaje'">
            <input name="idRemitente" type="hidden" th:value="${empresa.id}" />
            <input name="idDestinatario" type="hidden" th:value="${pregunta.alumno.id}" />
            <div class="form-group">
                <textarea required name="contenido" class="form-control" placeholder="escriba su respuesta"></textarea>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary right" type="submit">Enviar </button>
            </div>
        </form>

        <div class="well"
             th:each="mensaje: ${pregunta.mensajes}"
             th:text="${mensaje.contenido}"
             th:classappend="${pregunta.mensajeEsPropio(mensaje)} ? 'mensajeEmpresa' : 'mensajeAlumno'">
            Message text
        </div>

    </span>

    <div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
        <span th:text="${error}">error</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>

    <div class="alert alert-success fade in" th:if="${message}">
        <span th:text="${message}">message</span>
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>