<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
</head>

<body>
<nav th:replace="fragments/adminNavbar :: adminNavbar('preguntas')"></nav>


<div class="container">
    <h1>Preguntas </h1>
    <br />
    <div class="panel panel-default" th:each="curso: ${cursos}" >
        <div class="panel-heading">
            <h3 class="panel-title" >
                <span th:text="${curso.nombre}"></span>
                <a class="pull-right" th:href="'/curso/' + ${curso.id} + '/preguntas/'">
                    <i class="glyphicon glyphicon-th-list" style="font-size:13px;"></i>
                </a>
            </h3>

        </div>
        <div th:if="${!curso.preguntas(5).isEmpty()}" class="table-responsive">
            <table class="table">
                <tbody>
                    <tr th:each="pregunta: ${curso.preguntas(5)}" >
                        <td >
                            <a th:text="${pregunta.titulo}"
                               th:href="'/curso/' + ${curso.id} + '/pregunta/' + ${pregunta.id}" ></a>
                        </td>
                        <td>
                            <span th:if="${pregunta.cantidadMensajesNoLeidos} > 0" class="badge"
                                  style="background-color:rgba(33, 69, 202, 0.86);"
                                  th:text="${pregunta.cantidadMensajesNoLeidos}">_ </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>