<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas del curso</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/material-icons.css">
</head>

<body>
<nav th:replace="fragments/adminNavbar :: adminNavbar('')"></nav>


<div class="container">
    <span th:if="${preguntas}">
    <h1>
        <a th:href="'/curso/' + ${curso.id}" th:text="${curso.nombre}"></a>
    </h1>
    <br />

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Pregunta </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="pregunta: ${preguntas}" >
                    <td >
                        <a th:text="${pregunta.titulo}"
                           th:href="'/curso/' + ${curso.id} + '/pregunta/' + ${pregunta.id}" ></a>
                    </td>
                    <td>
                        <span th:if="${pregunta.cantidadMensajesNoLeidos} > 0" class="badge"
                              style="background-color:rgb(55,61,200);"
                              th:text="${pregunta.cantidadMensajesNoLeidos}">_ </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    </span>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>