<div th:fragment="errorAlert" class="alert alert-danger fade in" th:if="${error}">
    <span th:text="${error}">error</span>
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
</div>

<div class="alert alert-success fade in" th:if="${message}">
    <span th:text="${message}">message</span>
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
</div>