﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemas2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{
    ViewBag.Title = "Registrar Alumno Page";
    }
    <div class="container">
        <h1>Regístrate</h1>
        <form>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="nombre">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="teléfono">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="e-mail">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="usuario">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="contraseña">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="verificar contraseña">
            </div>
            <button class="btn btn-default" type="submit">Registrarse </button>
            <button class="btn btn-default" type="submit" style="margin-left:5px;">Cancelar </button>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>